/*********Geniral********************/

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500;600;700&family=Raleway:ital,wght@0,500;0,600;1,400;1,500;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,500;0,600;1,400;1,500;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500;600;700&family=Pacifico&family=Raleway:ital,wght@0,500;0,600;1,400;1,500;1,600&display=swap');
*{
    box-sizing: border-box;
    padding: 0;
}
body{
    margin: 0;
    padding: 0;
    font-family: "raleway", sans-serif;}
.container{
    width: 90%;
    margin: 0 auto;
    height: 100%;
}
.list-style{
    list-style: none;
}
.link{
    text-decoration: none;
}
.d-flex{
    display: flex;
}
/*
section {
    height: 880px;
}*/
/*********End Geniral****************/
#home1{
    background: url("../img/hero-bg.jpg") ;
    background-position: 15% 5%; 
    background-attachment: fixed;
    background-size: cover;
    height: 630px;
    position: relative;
}
.layout{
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: #3b434a81;
    z-index: 1;
}
nav{
    position: fixed;
    z-index: 5;
    color:#FFF;
    margin: 0 auto;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #68809291;
    box-shadow: 0 0 5px 3px #313a417a;
}
nav ul{
    display: flex; 
    justify-content: space-evenly;
    align-items: center;
    width: 40%;
    padding: 10px;
    margin: 0 auto;
}

nav ul li {
    text-transform:capitalize;
    font-size: 15px;
    padding: 10px;
}

nav ul li a{
    text-align: center;
    color: #FFF;
    transition: all 0.4s;
    font-weight: 500;
    cursor: pointer;
}
nav ul li a:hover{
    color: #ffb727;
}
nav ul li a::after{
    content: "";
    width: 0%;
    display: block;
    height: 2px;
    background-color:  #FFF;
    transition: all 0.8s;
}
nav input,label{
    display: none;
}
nav label{
    margin: 0 auto;
    cursor: pointer;
    width: 5%;
}
nav label:hover .men-ch{
   background-color: #f0a206;
}
.men-2{
    transition: all 0.8s ease;   
}
nav label:hover .men-1{
transform: translateX(50%);
transition: all 0.8s ease;

}

nav label:hover .men-3{
    transform: translateX(50%);
    transition: all 0.8s ease;
    }
.men-ch{
    width: 30px;
    height: 2px;
    margin-top: 5px;
    background-color: #FFF;
}


/*drop   */    
.drop{
    width: 15%;
    height: 350%;
    display: none;
    position: absolute;
    background-color: #839fb4da;
    border-radius: 20px;
    top: 90%;
    animation: anim-drop 0.4s ease-out;
}
.drop li{
    width: 100%;
    border-bottom: 1px solid #97b2c7da;
    transition: all 0.6s;
}
.drop li a{
    text-decoration: none;
    width: 300%;
}

.drop li:hover{
    background-color: #3c434786;
    border-radius: 20px;
}
.drop-li{
    cursor: pointer;
}
.drop-li:hover  ul.drop{
    display: block;
}

@keyframes anim-drop{
    0%{opacity:0.2;}
    100%{opacity:1;}
}

/*drop   End*/
/*
nav ul li:hover  
nav ul li a::after
{
    width: 100%;
}*/


.hero{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    color: #FFF;
    z-index: 1;
}
.hero h1{
    font-size: 50px;
    color: #FFF;
    font-family:  cursive;
}
.hero i{
    font-size: 30px;
    animation: arrow 1.5s ease-in-out infinite alternate-reverse both;
transition: all 0.8s;
cursor: pointer;
}
.hero i:hover{
    color: #ffb727;
}
@keyframes arrow{
    0%{transform: translateY(10px);}
    100%{transform: translateY(30px);}
}
/*start section about*/
.header-section{
    text-align: center;
    padding: 50px 0 10px 0;
}

.header-section h1 ,.res-title{
text-transform: uppercase;
font-size: 28px;
color: rgb(68, 67, 67);
position: relative;

}

#about .header-section h1::after {
    content: "About Me";
    text-transform: uppercase;
    font-size: 48px;
    color: rgba(53, 52, 52, 0.178);
    position: absolute;
    top: -90%;
    left: 38%;
}
.header-section p{
    font-size: 15px;
    color: rgb(75, 74, 74);
}

.about-body h4{
  color:  rgb(56, 56, 56);
  padding: 8px 0;
  font-size: 15px;
}

.about-body h4 span{
    color: rgb(128, 128, 128);
    font-weight: normal;
    font-size: 15px;
    margin-left: 5px;
}
.about-body h4::before{
    content: ">";
    color: #ffb727;
    margin-right: 5px;
    font-size: 15px;
}
.img-about{
    width: 40%;
}
.img-about img{
    width: 90%;
}
.about-body .item1,.item2{
    justify-content: space-between;
    width: 100%;
    margin:-20px 0;
}

.about-body div.d-flex div:nth-child(1){
margin-right: 50px;
}
.card-per{
    padding: 5% 0;
    
}
.card-group{
    width: 100%;
}
.card{
   width: 100% ;
   padding: 10px;
   border: 1px solid rgb(223, 223, 223);
   border-radius: 10px;
   margin: 10px 0;
   transition: all .4s;

}
.card:hover{
    box-shadow: 0px 0px 20px rgb(184, 182, 182) ;
}

.card i{
     font-size: 40px;
     font-weight: lighter;
     padding: 10px;
     line-height: 20px;
}
.card-body{
    font-size: 14px;
    
}
.card-body p{
    color: rgb(161, 161, 161);
}
.card-body strong{
    color: rgba(80, 80, 80, 0.849);
}
.card-body span{
    font-size: 30px;
    font-weight: 700;
    color: #3b434a;

}
.skill{
    font-size: 14px;
    font-weight: 700;
    color: #3b434a;
}
.skill span{
    float: right;
}
.progress-warp{
    background-color: antiquewhite;
margin: 10px 0;
}
.skill-about .progress-bar{
    height: 10px;
    background-color: #ffb727;

}
/*End section about*/

/*start section Resume*/

.resume .header-section h1::after{
    content: "MY RESUME";
    text-transform: uppercase;
    font-size: 48px;
    color: rgba(53, 52, 52, 0.178);
    position: absolute;
    top: -90%;
    left: 38%;
} 

.res-ch{
    width: 45%;
    margin-left: 10px;
}
.res-item h4{
    color: #ffb727;
    position: relative;
}

.res-item h4::before{
    content: "";
    width: 15px;
    height: 15px;
    border: 2px solid #3b434a;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    top: -19px;
    left: -40px;
    
}
.res-item{
    padding:0 30px 0px 30px;
    border-left:2px solid #3b434a;
    margin:-5px 0 10px 0;
    line-height: 25px;
    color: rgb(112, 112, 112);
font-size: 18px;
font-style: italic;
}

.res-item ul{
   padding-left: 13px;
   line-height: 30px;
}
.res-item ul li{
    margin-top: 5px;
}
.res-item span{
    padding: 5px 10px;
    background-color: rgba(232, 232, 233, 0.87);
}
/*END section Resume*/

/*start section service*/
#service .header-section h1::after{
    content: "MY service";
    text-transform: uppercase;
    font-size: 48px;
    color: rgba(53, 52, 52, 0.178);
    position: absolute;
    top: -90%;
    left: 38%;
}
.service-per{
    width: 100%;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    text-align: center;
    padding: 20px 0 20px 0;
}
.ser-card{
     background-color: #fff;
     width: 90%;
     padding: 20px 10px 60px 10px;
     height: 300px;
     border: none;
     border-radius: 5%;
     box-shadow: 0 0 30px rgba(117, 117, 117, 0.822);
    transition: 0.4s;
    margin: 40px 20px;
    text-align: center;
}
.ser-card:hover [href="#"]{
    color: #ffb727;
}
.ser-card:hover{
border:1px solid #ffb727;
}
.ser-card i{
    display: block;
    font-size: 40px;
    color: #ffb727;
    margin: 20px 0;
}
.ser-card a{
    text-transform: capitalize;
    text-decoration: none;
    color: rgb(18, 11, 31);
    font-size: 20px;
    font-weight: 700;
    transition: color 0.4s;
}
.ser-card p{
    margin: 30px 25px;
    line-height: 20px;
    padding-bottom: 30px;
    color:  rgb(114, 114, 114);
}







/* Slideshow container */
.slide{
    background:url("../img/testimonials-bg.jpg") fixed;
    background-size: cover;
    background-position: 0%;
    margin-top: 10%;
  position: relative;
}
.slideshow-container {
  max-width: 100%;
  position: relative;
  margin: auto;
  z-index: 3;
  height: 450px;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.mySlides img{
    width: 8%;
  border-radius: 50%;
  position: absolute;
  top: 40%;
  left: 50%;
  border: 8px solid #f2f2f231;
  transform: translate(-50%,-50%);
}
.slide-body{
    position: absolute;
    width: 80%;
    margin: 0 auto;
    text-align: center;
    color: #f2f2f2;
    top: 70%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.slide-body  h3{
  line-height: 5px;
}
.slide-body  h4{
  
    font-size: 14px;
}
.slide-body  i{
    font-size: 30px;
    color: rgb(168, 168, 168);
}
.slide-body  p{
  line-height: 35px;
  font-weight: 500;
    font-size: 20px;
    font-style: italic;
    font-family: 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
/* The dots/bullets/indicators */
.dot-per{
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 3;
}
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: rgba(250, 250, 249, 0.658);
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  z-index: 3;
}

.active, .dot:hover {
  background-color: #ffb727;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
/*End section service*/


/* start pricing*/

#pricing .header-section {
    margin-bottom: 2%;
}
#pricing .header-section h1::after{
    content: "PRICING";

    text-transform: uppercase;
    font-size: 48px;
    color: rgba(53, 52, 52, 0.178);
    position: absolute;
    top: -90%;
    left: 41%;
}

   

.pric{
    align-items: center;
    text-align: center;
    justify-content: space-between;
margin-bottom: 60px;

}
.pric-card{
    height: 400px;
    width: 22%;
    border: 1px solid #ffb727;
    border-radius: 10px;
    }
    
    .pric-card h2{
        padding: 10px;
        width: 100%;
        color: #797979fd;
    border-radius: 20px 20px 0 0;
    }

    .pric-card span:not(.span-card),s{
        font-size: 14px;
        color: #888888;
        
        line-height: 250%;
    }
    s{
        color: #f2f2f231;
        margin-bottom: 10px;
           
        line-height: 310%;
    }
    .span-card,.pric-card sup{
        font-size: 40px;
        color:#ffb727 ;
        font-weight: 500;
        
    }
sub{
    color: #888888;
}
.pric-card a{
    text-decoration: none;
    color: #FFF;
    background-color: #ffb727;
    padding: 6px 20px;
    border-radius: 5px;
    transition: all 0.4s;
}
.pric-card a:hover{
    opacity: 0.8;
}

  /* End pricing*/

  /* start contact */

 .contact  .header-section h1::after{
    content: "My Contact";
    text-transform: uppercase;
    font-size: 48px;
    color: rgba(53, 52, 52, 0.178);
    position: absolute;
    top: -90%;
    left: 36%;
}
.contact-per{
height: 500px;
justify-content: space-between;
text-align: center;
}
.contact-ch{
    width: 50%;
}
.shair{
    width: 98%;
    line-height: 50px;
    color: rgb(105, 104, 104);
    font-size: 25px;
    border-radius: 5px;
    box-shadow: 0 0 20px 10px rgb(216, 216, 216);
    padding: 30px;
}
.social{
    width: 60%;
    margin: 0 auto;
    margin-top: 10px;
    justify-content: space-between;
}
.social i{
    border-radius: 50%;
    padding: 15px; 
    transition: all .6s;
    cursor: pointer;
}
.social i:hover{
    background-color:  #ffb727;
    color: #FFF;
}
.shair i:not(.social i){
    color: #ffb727;
}
.cont{
    margin-top: 10px;
    width: 98%;
    padding: 30px;
    justify-content: space-between;
    border-radius: 5px;
    box-shadow: 0 0 20px 10px rgb(216, 216, 216);
    line-height: 20px;
}
.cont i{
    color: #ffb727;
    font-size: 25px;
}
.cont h5{
    font-size: 20px;
    color: #888888;
    margin-top: 5px;
}
.cont p{
    font-size: 14px;
    margin-top: -10px;
}

.contact-ch form .pers{
    justify-content: space-evenly;
}
.contact-ch form .pers input:focus,
.contact-ch form [type="text"]:not(.contact-ch form .pers input)
,textarea{
   outline: none;
}
.contact-ch form input {
width: 45%;
padding: 10px;
margin-bottom: 10px;
font-size: 14px;

}
.contact-ch form [type="text"]:not(.contact-ch form .pers input){
    width: 93.5%;
    margin:0 auto;
margin-bottom: 10px;
}
textarea{
    width: 93.5%;
    padding: 10px;
    margin:0 auto;
    font-size: 14px; 

}
.contact-ch button{
    margin-top: 6%;
    padding: 10px 30px ;
    background-color: #ffb727;
    border-radius: 5px;
    border: none;
    color: #FFF;
    font-size: 18px;
    transition:all 0.8s;
}
.contact-ch button:hover{
    cursor: pointer;
    opacity: 0.8;
}
  /* End  contact*/


   /* start Footr*/
     .footr{
         height: 400px;
         background: url('../img/footer-bg.jpg')   20%;
         background-size: cover;
          position: relative;
          line-height: 40px;
          }
          .fot-cont{
              position: absolute;
              z-index: 3;
              width: 60%;
              top: 50%;
              color: #FFF;
              left: 50%;
              text-align: center;
              transform: translate(-50%,-50%);
              justify-content: space-around;
          }
          .fot-cont h2{
              font-family:  cursive;
          }
          .fot-cont .social{
            margin-top: 5%;
            width: 30%;
            font-size: 20px;
            
          }
          .fot-cont .social i{
              padding: 10px;
            background-color: #f8b93a;
            
            transition:all 0.4s;
          }
          
          .fot-cont .social i:hover{
             
              background-color: #f0a206;
          }
          .fot{
            font-size: 14px;
        }
        .fot-cont span{
            font-size: 12px;
        }
        .fot-cont span a{
            text-decoration: none;
            color: #ffb727;
            opacity: 0.8;
            transition:all 0.6s ;
        }
        .fot-cont span a:hover{
         opacity: 1;
        }
        .arrow-fix{
             
        }
        .arrow-fix [href="#home1"]{
            background-color: #ffb727;
            padding: 4px 8px 0 8px;
            text-decoration: none;
            color: #FFF;
            border-radius: 5px;
           position: fixed;
            top: 96%;
            left: 96%;
        }
     
       
        .arrow-fix [href="#home1"] i{
          font-size: 18px;
            
        }
   /* End Footr*/


 